$ppBlue: #013453;
$ppDarkBlue: #00263d;
$ppYellow: #FFDE00;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.6rem;
  margin: 20px 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 1.8rem;
  }
}

p,
span {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.8rem;
}


.pp_body {
  background: linear-gradient(to bottom, #00263d 0%, #013453 100%);
  color: #fff;
  min-height: 100vh;
  height: auto;
}

.header {
  width: 100%;
  padding: 20px;
  height: 80px;
  text-align: right;
  background: transparent;
  position: relative;

  img {
    max-height: 50px;
  }
}

.title {
  margin: 50px auto;
  max-width: 600px;
  text-align: center;

  @media all and (max-width: 785px) {
    padding: 0 25px;
  }
}

.overall_total {
  text-align: center;
  margin: 0 auto;
}

.allocations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;

  @media all and (max-width: 785px) {
    justify-content: space-between;
  }

  @media all and (max-width: 500px) {

    h2 {
      opacity: .75;
    }

    span {
      font-size: 2.5rem;
      letter-spacing: 1px;
    }
  }


  div {
    margin: 0 1%;
    padding: 20px;
    background: #003D63;

    @media all and (max-width: 785px) {
      margin: 10px 0;
    }

    @media all and (max-width: 500px) {
      padding: 10px;
      margin: 0;
      background: transparent;
    }
  }

  .starting-budget,
  .total-allocated {
    width: 35%;

    @media all and (max-width: 785px) {
      width: 48%;
    }

    @media all and (max-width: 500px) {
      width: 100%;
    }
  }

  .remaining-budget {
    width: 100%;
    margin-top: 15px;
    background: transparent;

    @media all and (max-width: 500px) {
      margin-top: 0;
    }
  }
}

.container {
  background: transparent;
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;

  @media all and (max-width: 485px) {
    padding: 0 25px;
  }


  .slidecontainer {
    width: 50%;
    padding: 50px;
    margin: 0 auto;

    @media all and (max-width: 1200px) {
      width: 80%;
    }

    @media all and (max-width: 785px) {
      width: 100%;
      padding: 50px 25px;
    }

    @media all and (max-width: 500px) {
      padding: 50px 15px;
    }

    .slide_box {
      margin-bottom: 60px;

      @media all and (max-width: 959px) {
        margin-bottom: 50px;
      }

      @media all and (max-width: 500px) {
        margin-bottom: 45px;
      }

      .slide_title {
        max-width: 650px;
        margin-bottom: 1.5em;

        @media all and (max-width: 500px) {
          margin-bottom: 0;
        }

        span {
          color: #fff;
          font-size: 2rem;
          font-weight: 600;
        }

        strong {
          color: $ppYellow;
          margin-right: 5px;
          ;
        }
      }

      .slide_section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media all and (max-width: 500px) {
          flex-wrap: wrap;
        }

        .slide_input {
          width: 80%;

          @media all and (max-width: 959px) {
            width: 85%;
          }

          @media all and (max-width: 500px) {
            width: 100%;
          }

          .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 10px;
            margin: 20px 0 10px 0;
            background: rgba(238, 238, 238, .5);
            border-radius: 20px;
            outline: none;
            -webkit-transition: .2s;
            transition: opacity .2s;
            transition: .5s all ease-in-out;

            @media all and (max-width: 959px) {
              height: 15px;
              margin: 30px 0 10px 0;
            }

          }

          .slider:hover {
            opacity: 1;
            background: rgba(216, 216, 216, 1);

            .slide_total {
              opacity: 1;
            }
          }

          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 35px;
            height: 35px;
            background: url(/assets/img/slider-thumb.png);
            background-size: cover;
            background-position: center center;
            cursor: pointer;
            position: relative;
            z-index: 20;

            @media all and (max-width: 959px) {
              width: 45px;
              height: 45px;
            }
          }

          .slider::-moz-range-thumb {
            width: 35px;
            height: 35px;
            background: url(/assets/img/slider-thumb.png);
            background-size: cover;
            background-position: center center;
            cursor: pointer;
            position: relative;
            z-index: 20;

            @media all and (max-width: 959px) {
              width: 45px;
              height: 45px;
            }
          }
        }

        .slide_total {
          width: 10%;
          text-align: center;
          font-size: 2em;
          opacity: .5;

          @media all and (max-width: 959px) {
            text-align: right;
            font-size: 2.5em;
          }

          @media all and (max-width: 500px) {
            width: 100%;
            text-align: left;
            margin-top: 10px;
            order: 3;
          }
        }

      }

    }

  }

}